# DataSpell project configuration
.idea/*

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# exclude the raw mnsit files
**/data/mnist/*.gz

# exclude unmodularized/data folder and subitems folders
**/unmodularized/data/**